<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <nav>
        <a href="../index.html" > Inicio</a>
        <a href="cuidadopiel.html" > Skin-care</a>
        <a href="productos.html" > Productos</a>
        
    </nav>

    <h1>bloomshellpaginaweb@gmail.com</h1>

    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQNgY3COMRram74N_eqfTeRYVsP5U8UamQU6A&s">