<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
    
</head>
<body>

    <nav>
        <a href="../index.html" > Inicio</a>
        <a href="cuidadopiel.html" > Skin-care</a>
        <a href="contacto.html" > Contacto</a>
        
    </nav>
<h1>Productos de Maquillaje</h1>

<ul>
   <li>Correctores: Es uno de sus productos más virales. Ofrecen versiones como My Concealer de 10ml y la versión Big de 20ml en diversos tonos como Ivory, Olive Beige y Espresso.</li>
    <li>Bases: Disponible en tonos como almendra, medium beige y neutral beige. </li>
    <li>Polvos: Incluye el Polvo Pink Malla Mate (rosado) y el Polvo Natural Malla Mate, además de polvos traslúcidos.</li>
    <li>Rubores y Bronceadores:
    Bloom Blushy: En tonos como Pasión, Sol de Tarde, Susurro y Terracota.
    Velvet Crush: Rubor en tonos Pink, Peach y Terracota.
    Bronzer Tropical Luminous: En tonos 01 y 02.</li>
</ul>

<img src="../static/images/productos.png">
    

</body>
</html>
